<div class="body-lamp">
  <div class="lamp-name">
    <h1>{{lamp.name}}</h1>
  </div>
  <div class="head-panel">
    <div class="random-container">
      <button mat-icon-button color="basic" class="random" (click)="randomMode()">
        <mat-icon>shuffle</mat-icon>
      </button>
    </div>
    <div class="toggle-button">
      <mat-slide-toggle
      [checked]="lamp.isOn"
      (change)="changeIsOnState($event)">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="color-picker-container">
    <div id="color-picker"></div>
    <div class="slider-container">
      <div class="slider">
        <mat-icon>wb_sunny</mat-icon>
        <div id="spacer"></div>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          [value]="lamp.brightness* 1000"
          tickInterval="1000"
          step="1000"
          min="0"
          max="100000"
          aria-label="units"
          (input)="changeBrightness($event)">
        </mat-slider>
    </div>
  </div>
  <div class="neopixel">
    <mat-divider></mat-divider>
    <div class="neopixel-buttons-container">
      <button mat-icon-button color="basic" class="random">
        <mat-icon>repeat</mat-icon>
      </button>
      <div id="spacer"></div>
      <button mat-icon-button color="basic" class="random">
        <mat-icon>slow_motion_video</mat-icon>
      </button>
      <div id="spacer"></div>
      <button mat-icon-button color="basic" class="random">
        <mat-icon>queue_music</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="submit-button">
    <button mat-raised-button color="primary" mat-dialog-close (click)="onClose()">Fertig</button>
  </div>
</div>
