<div id="body" (focus)="refresh()">
  <div class="header">
    <h1 class="headline">Lampen</h1>
    <div class="add-lamp-container">
      <button mat-fab color="primary" [routerLink]="'add-lamps'">
        <mat-icon>add</mat-icon>
        <div id="infoForNewLamps" *ngIf="countUnconLamps > 0">
        {{countUnconLamps}}
        </div>
      </button>
    </div>
  </div>
  <div class="content">
    <mat-divider></mat-divider>
    <div class="card-container" *ngFor="let lamp of lamps" (click)="focuse(lamp)" >
        <mat-card [ngClass]="{ 'selected': lamp == selectedItem }" (click)="index = lamp.mac">
          <div class="card-head">
            <div class="title">
              {{lamp.name}}
            </div>
            <div class="toggle">
                <mat-slide-toggle
                [checked]="lamp.isOn"
                [disabled]="disabled">
                </mat-slide-toggle>
            </div>
          </div>
          <div class="card-expand" [ngClass]="{ 'card-expand-show': index === lamp.mac }">
            <div class="slider-container">
              <div class="slider">
                <mat-icon>wb_sunny</mat-icon>
                <div id="spacer"></div>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  [value]="lamp.brightness* 1000"
                  tickInterval="1000"
                  step="1000"
                  min="0"
                  max="100000"
                  aria-label="units">
                </mat-slider>
              </div><!--
              <div class="slider">
                <mat-icon>brush</mat-icon>
                <div id="spacer"></div>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1000"
                  step="1000"
                  min="0"
                  max="100000"
                  aria-label="units">
                </mat-slider>
              </div>
              -->
            </div>
            <div class="configure-container">
              <button mat-fab color="primary" (click)="openDialog(lamp)">
                <mat-icon>color_lens</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
    </div>
  </div>
  <div id="randomContainer">
    <button mat-fab color="primary" (click)="test()">
      <mat-icon>shuffle</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <led-nav-bar></led-nav-bar>
</div>
