<div id="body">
  <button mat-mini-fab class="close-button" color="primary" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <h1 *ngIf="login.passwordIsSet">Mit Bridge verbinden</h1>
  <h1 *ngIf="!login.passwordIsSet">Bridge einrichten</h1>
  <mat-divider class="setup-divider"></mat-divider>
  <div class="setup-container">
  <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>IP-Adresse</mat-label>
    <input matInput id="inputId" placeholder="" [(ngModel)]="this.login.ipAdress">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label *ngIf="login.passwordIsSet">Enter your password</mat-label>
    <mat-label *ngIf="!login.passwordIsSet">Set your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="this.login.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="buttons">
  <button mat-stroked-button color="primary" mat-dialog-close>Abbruch</button>
  <span id="space"></span>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="connectToBridge()">Verbinden</button>
</div>
</div>
